.contenedorPrincipal{
    margin-bottom: 20px;
    margin-left: 40px;
}

 /* inicio primer section */
.one{
    display: flex;
    width: 100%;
    margin-top: 40px;
    /* height: 400px; */
}


.contenedor1{
    width: 50%;
    font-size: 56px;
    font-family: chronicle display;
    
    padding-top: 190px;
    
}
.contenedor2{
    width: 50%;
    font-size: 28.8px;
    font-family: Gorgita;
    padding-top: 270px;
    padding-bottom: 10px; ;
}
/* fin primer section */
/* inicio segunda section */

.two{
    display: flex;
    width: 100%;
}
.titulo1{
    font-family: chronicle display;
    font-size: 28.8px;
    padding-bottom: 29px;
    padding-top: 45px;

}
.contenedor3{
    width: 40%;
}
.icono{
    width: 50px;
}
.contenedor4{
    padding-left: 100px;
}

/* fin segunda section */
/* inicio primer section */
.three{
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    
    
}
.titulo2{
    font-size: 28.8px;
    font-family: Gorgita;
    padding-bottom: 15px;
}
.boton1{
    font-size: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 18px;
    margin-left: 45%;
    cursor: pointer;
    margin-bottom: 75px;

}