.style-0 {
  height: 642.172px;
  padding-top: 0px;
  grid-template-rows: 602.172px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px 87.1562px;
  gap: 16px;
  width: 100%;
  max-width: 1307px;
  padding-left: 40px;
  padding-right: 40px;
  align-content: baseline;
  flex: 1 1 0%;
  scroll-margin-top: 18.7734px;
  box-sizing: border-box;
}

.style-1 {
  grid-column: 1 / 7;
  align-items: flex-end;
  display: flex;
  grid-auto-rows: minmax(min-content, max-content);
  scroll-margin-top: 18.7734px;
  box-sizing: border-box;
}

.style-2 {
  margin-bottom: 0px;
  font-size: 56px;
  line-height: 61.6px;
  font-weight: 400;
  margin-top: 0px;
  font-family: 'Chronicle Display', serif;
  scroll-margin-top: 62.3438px;
  box-sizing: border-box;
}

.style-3 {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 1.3s ease 0.3s, transform 1.3s ease 0.3s;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 1.3s ease 0.3s, transform 1.3s ease 0.3s;
  display: block;
  scroll-margin-top: 62.3438px;
  box-sizing: border-box;
}

.style-4 {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 1.3s ease 0.6s, transform 1.3s ease 0.6s;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 1.3s ease 0.6s, transform 1.3s ease 0.6s;
  display: block;
  scroll-margin-top: 62.3438px;
  box-sizing: border-box;
}

.style-5 {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 1.3s ease 0.9s, transform 1.3s ease 0.9s;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 1.3s ease 0.9s, transform 1.3s ease 0.9s;
  display: block;
  scroll-margin-top: 62.3438px;
  box-sizing: border-box;
}

.style-6 {
  grid-column: 7 / 13;
  padding-top: 0px;
  align-items: flex-end;
  display: flex;
  grid-auto-rows: minmax(min-content, max-content);
  scroll-margin-top: 18.7734px;
  box-sizing: border-box;
}

.style-7 {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 1.3s ease 1.3s, transform 1.3s ease 1.3s;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 1.3s ease 1.3s, transform 1.3s ease 1.3s;
  font-size: 28.8px;
  margin-bottom: 0px;
  font-weight: 300;
  line-height: normal;
  margin-top: 0px;
  scroll-margin-top: 37.5469px;
  box-sizing: border-box;
}
.style-8 {
  scroll-margin-top: 29.7246px;
  width: 100%;
  height: 1283.64px;
  vertical-align: bottom;
  box-sizing: border-box;
  border-style: none;
}
